* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
.App {
  text-align: center;
}

body {
  background-image: url("./images/background.jpg");
  color: white;
}
.logo {
  width: 500px;
  heigh: 450px;
}

.character-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.character {
  color: white;
  padding: 10px;
  margin: 10px;
  border: orange solid 2px;
  border-radius: 6px;
  background-color: rgb(233, 204, 76);
  transition: 1.5s;
}
.character:hover {
  background-color: rgb(227, 243, 8);
  color: black;
}

.label {
  margin-right: 10px;
}

.character img {
  width: 220px;
}

.input-search {
  color: white;
  background-color: #33b5cf;
  margin: auto;
  border-radius: 6px;
  padding: 5px;
  width: 200px;
}

.input-search:hover {
  box-shadow: 0 0 10px #b5bfe0;
}
.character-details {
  display: flex;
  justify-content: space-between;
  width: 400px;
  margin: 20px auto;
  height: 250px;
}

.card-details-text {
  padding: 20px;
  margin: 20px;
}
.back-button {
  color: white;
  font-size: 20px;
  background-color: #33b5cf;
}
